.red-checker {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #ff0000;
	z-index: 100;
}

.yellow-checker {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #ffff00;
}

.empty {
	height: 70px;
	width: 70px;
}

button {
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 2;
	cursor: pointer;
	border: 1px solid transparent;
  margin: 0 auto;
  background-color: #007bff;
  color: #fff;
}

h1 {
	padding: 10px 0 0;
	font-size: 2em;
	text-align: center;
}

table {
	border: 2em solid rgba(0, 0, 0, 0.15);
	margin: 50px auto;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.15);
}

table td {
	cursor: pointer;
	text-align: center;
	border: 1em solid rgba(0, 0, 0, 0.15);
	z-index: 1;
	padding: 0px;
	border-radius: 50%;
	background-color: #fff;
}

