body {
  font-family: 'Arial';
  text-align: center;
}

table {
  margin: 0 auto;
  border-spacing: 0px 0px;
}

.begin {
  height: 60px;
  width: 60px;
  background-color: antiquewhite;
  border-radius: 100px;
}

.square {
  height: 70px;
  width: 70px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.choose-color {
  display: center;
  height: 70px;
  align-items: center;
  position: center;
}
 .hide-choice {
  visibility: hidden;
  height: 70px;
}

.red-piece {
 height: 60px;
 width: 60px;
 background-color: red;
 border-radius: 100px;
}

.yellow-piece {
 height: 60px;
 width: 60px;
 background-color: yellow;
 border-radius: 100px;
}

.victory {
 height: 30px;
}

.hide {
display: none;
}

.play-again {
height: 30px;
width: 100px;
color: lightgray;
background-color: green;
justify-content: center;
cursor: pointer;
font-size: medium;
}

.no-thanks {
  height: 30px;
  width: 100px;
  color: rgb(55, 0, 255);
  background-color: yellow;
  justify-content: center;
  cursor: pointer;
  font-size: medium;
}